@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 20 10% 10%;
    --card: 40 33% 98%;
    --card-foreground: 20 10% 10%;
    --popover: 40 33% 98%;
    --popover-foreground: 20 10% 10%;
    --primary: 15 80% 55%;
    --primary-foreground: 40 33% 98%;
    --secondary: 35 30% 90%;
    --secondary-foreground: 20 10% 10%;
    --muted: 40 20% 90%;
    --muted-foreground: 25 10% 40%;
    --accent: 35 30% 90%;
    --accent-foreground: 20 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 40 33% 98%;
    --border: 20 10% 10%;
    --input: 20 10% 10%;
    --ring: 15 80% 55%;
    --radius: 0rem;
  }


}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-roboto-slab {
  font-family: var(--font-roboto-slab), serif;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

.electron {
  animation: orbit 3s linear infinite;
}

.electron-1 {
  animation-duration: 1.5s;
}

.electron-2 {
  animation-duration: 3s;
}

.electron-3 {
  animation-duration: 5s;
}

